.navbar{
    display: flex;
    padding-inline-start: 900px;
    column-gap: 50px;
    block-size: 70px;
    inline-size: 630px;
    background-color: rgb(206, 222, 222);
    margin-block-start: 0px;
}
#wavo{
    text-align: start;
    column-gap: 300px;
}
.side-name{
    padding-block-start: 20px;
}
.container{
    display: block-end;
    block-size: 100px;
    inline-size: 1600px;
    background-color: black;
    color:white;
    margin: 0;
   
    text-align: center;
    padding-block-start: 40px;
    text-decoration: underline;
}
.footer{
    position:bottom;
   
    
}
.btn-login{
    background-color: blue;
    border:none;
    border-color: none;
    margin-block-start: 6px;

}
