.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*project css */
.title{
  font-family: sans-serif;
  color: red;
  text-align: center;
  font-size: bold;
  text-decoration: underline;
}
.idea{
  inline-size: 500px;
  block-size:500px;
  background-color:greenyellow;
  border-radius: 50px;
  text-align: center;
  margin-inline-start: 30px;
  color:rebeccapurple;
  font-size: bold;
  font-family: sans-serif;
  margin-block-end: 40px;
  
}
.btn{
  background-color: rgb(226, 12, 162);
  color: floralwhite;
  block-size: 50px;
  inline-size: 100px;
  border: none;
  font-size: bold;
  border-radius: 10px;
}
.box{
  margin-inline-start: 20px;
}
.main-box{
  display: flex;
}
.vote{
  inline-size: 500px;
  block-size:500px;
  background-color:rgb(214, 233, 36);
  border-radius: 50px;
  text-align: center;
  margin-inline-start: 30px;
  color:rebeccapurple;
  font-size: bold;
  font-family: sans-serif;
  margin-inline-start: 400px;
  margin-block-end: 40px;
}
/*idea page css */
.idea-title{
  color:rgb(235, 171, 11);
  text-align: center;
}
.idea-box{
  inline-size: 1000px;
  block-size: 500px;
  margin-inline-start: 50px;
  background-color: rgba(230, 30, 12, 0.412);
  margin-block-end: 100px;
  color:rgb(44, 234, 10);
  border-radius: 100px;
  margin-inline-start: 300px;
 
}
.form{
  display: grid;
  padding-inline-start: 50px;

}
.input-form{
  inline-size:500px;
  block-size: 100ox;
  margin-inline-start: 50px;
}
.label-name{
  padding-inline-start: 50px;
  color: #282c34;
  font-size: large;
  margin-block-start: 50px;
}
.title-1{
  color: rgb(204, 228, 65);
  text-align: center;
  font-family: sans-serif;
  font-size: bold;
  text-decoration:underline;
}
.input-form2{
  block-size: 100px;
  inline-size: 500px;
  margin-inline-start: 50px;
  border: none;
}
.label-name2{
  color:#282c34;
  margin-inline-start: 50px;
  margin-block-start: 5px;
  margin-block-end: 2px;
}
.btn2{
  background-color: rgb(226, 12, 162);
  color: floralwhite;
  block-size: 50px;
  inline-size: 100px;
  border: none;
  font-size: bold;
  border-radius: 10px;
  margin-inline-start: 100px;
  margin-block-start: 10px;
}
.loginpage{
  block-size: 500px;
  inline-size:800px;
  text-align: center;
  display: grid;
  background-color:rgb(203, 251, 44);
  margin-inline-start:400px;
  
  
}
.login-form{
  inline-size: 500px;
  block-size: 500px;
  background-color: rgb(201, 233, 46);
  margin-inline-start: 500px;
  border-radius: 50px;
}
.login-title{
  text-align: center;
}
.login-page{
  
  
  display: grid;
  margin-inline-start: 10px;
}
.input-feed{
  inline-size:200px;
}
.login-btn{
  inline-size:50px;
  block-size: 25px;
  background-color: rgb(246, 16, 242);
  border:none;
  margin-inline-start: 10px;
  margin-block-start: 10px;
  
}
.title-profile{
  text-align: center;
}
.profile-name{
  text-align: center;
}
.profile-page{
  inline-size:500px;
  block-size:500px;
  background-color: #5f8ce7;

  padding-inline-start: 100px;
  margin-inline-start: 400px;
  font-family: sans-serif;
  font-size: bold;

}
.edit{
  block-size: 25px;
  inline-size: 100px;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  color:hotpink;
  font-size: bold;
  font-family: sanserif;
}
.name{
  display: flex;
  column-gap: 20px;
}
.email{
  display: flex;
  column-gap: 20px;
}
.bio{
  display: flex;
  column-gap: 20px;
}
.vote-title{
  text-align: center;
  font-size: bold;
  font-family: sans-serif;
  color:red;
}
.polling{
  display: flex;
  column-gap: 1000px;

}
.vote-btn{
  block-size: 25px;
  inline-size:75px;
  margin-block-start: 25px;
  border: none;
  background-color: rgb(94, 231, 94);
  font-size: bold;
  font-family: sans-serif;
  border-radius: 5px;
}
.vote-subtitle{
  margin-inline-start: 100px;
}